*{margin: 0;padding: 0;box-sizing: border-box;  font-family: "Ubuntu", serif;font-weight: 500;font-style: normal;}

.header{
    display: flex;
    background-color: #638C6D;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    border-bottom: 2px solid #FFCFCF;
}

.menu-icon{
    height: 6vh;
    width: 3.5vw;
    padding: 10px;
}

.menu-icon:hover{
    cursor: pointer;
    background-color: #516352a2;
    border-radius: 3px;
    user-select: none;
}
.menu-icon img{
    height: 100%;
    width: 100%;
}   

.logo{
    height: 11vh;
}

.logo img{
    height: 100%;
    width: 100%;
}

.section{
    height: 95vh;
    background-color: #ECECEC;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: #FEFCFE;
    padding: 1rem;
}

.upper-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
    user-select: none;
}

.heading{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid #374958;
    color: #374958;
    user-select: none;
}

.upper-sidebar div img{
    height:4vh;
}

.sidebar .item{
    display: flex;
    gap: 0.5rem;
    color: #374958;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    align-items: center;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 0 1rem;
    user-select: none;
}


.lower-item{
    display: flex;
    gap: 0.5rem;
    color: #374958;
    font-family: "Ubuntu", serif;
    /* justify-content: space-between; */
    font-weight: 400;
    align-items: center;
    border-radius: 5px;
    text-transform: capitalize;
    padding:  2px 5px;
    position: relative;
}

.item .item{
    padding: 0;
    user-select: none;
}

.sidebar .item:hover{
    background-color: lavender;
    cursor: pointer;
}

.lower-item:hover{
    background-color: lavender;
    cursor: pointer;
}

.lower-sidebar div img{
    height:3vh;
    padding: 3px;
}

.lower-sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    position:relative;
}

.all-items{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 0.4rem;
    user-select: none;
}


.lower-sidebar .item{
    height: 4vh;
    position: relative;
}


.lower-sidebar .lower-item :last-child{
    margin-left: auto;
    height: 3.3vh;
}


.btn-item:hover{
    cursor: pointer;
}

#project-submit-btn{
    padding: 5px;
    background-color: #ded7de;
    border: none;
    font-family: "Ubuntu", serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    justify-content: center;
    gap: 1rem;
    display: flex;
    color: #374958;
    align-items: center;
    border-radius: 5px;
}

#project-submit-btn:active{
    transform: scale(1.1);
    
}

#project-submit-btn img{
    height: 3vh;
}

.section{
    display: flex;
}

.main-section{
    padding: 2rem 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner{
    background-color: #2ABD67;
    width: 100%;
    height: 17%;
    border-radius: 3px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.banner-head{
    font-family: "Oswald", serif;
    font-style: normal;
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
}



/*adding new project button */


.new-project-inputbox-section,.rename-inputbox-section{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.new-project-inputbox-section-above,.rename-inputbox-section-above{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.new-project-inputbox-section-above input,
.rename-inputbox-section-above input{
    height: 5vh;
    padding: 5px;
    color: #374958;
    font-family: "Ubuntu", serif;
    text-transform: capitalize;
    font-weight: 500;
    width: 100%;
    font-size: 1rem;
}

.new-project-inputbox-section-below,.rename-inputbox-section-below{
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.new-project-inputbox-section-below button,.rename-inputbox-section-below button{
    font-size: 1rem;
    font-family: "Ubuntu", serif;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    padding: 0.4rem 1rem;
    border: none;
}

.btn1{
    background-color: #2ABD67;
}

.btn2{
    background-color: #BE0404;
}
.btn1:hover{
    background-color: #2abd67df;
    cursor: pointer;
}

.btn2:hover{
    cursor: pointer;
    background-color: #be0404db;
}

.dropbox{
    height: 12vh;
    width: 5.5vw;
    background-color: #F3F1F3;
    border: 3px;
    position: absolute;
    left: 14vw;
    top: -3.5rem; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 3px #E9E7E9;
    padding: 0.3rem;
}

.edit-btn, .delete-btn{
    height: 50%;
    
    padding: 0.2rem 0.6rem;
    width: 100%;
    font-family: "Ubuntu", serif;
}

.edit-btn:hover, .delete-btn:hover{
    cursor: pointer;
    background-color:#c2bcc2 ;
    border-radius: 3px;
}

.button-collection-section{
    display: flex;
    gap: 1rem;
}

.task-section{
    margin-top: 2rem;
}

.task-input-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    gap: 0.5rem;
}

.div-flex{
    display: flex;
    flex-direction: column;
}

.div-flex input,.div-task-details{
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 3px;
    color: gray;
    font-weight: 400;
}

.div-task-details{
    height: 4rem;
    text-align: start;
    font-size: 1.1rem;
    resize: none;
}

.button-section-task-input-form{
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button-section-task-input-form button{    
    font-size: 1rem;
    font-family: "Ubuntu", serif;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    padding: 0.4rem 1rem;
    border: none;
}


.add-new-task{
    display: flex;
    padding: 1rem;
    font-family: "Ubuntu", serif;
    font-weight: 500;
    color: black;
    gap: 0.5rem;
    align-items: center;
    padding-left: 3rem;
}

.add-new-task:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: rgb(42, 40, 40);
}

.add-new-task img{
    height: 1.15rem;
}